.spotify-seek-bar-progress {
	background-color: #b9bbbe !important;
}

.powercord-spotify .spotify-buttons button {
	color: #b9bbbe !important;
}

.powercord-spotify .spotify-extra-controls .active {
	color: #b9bbbe !important;
}